<!DOCTYPE html>
<html>
<head>
  <title>Funnle</title>
  <%= stylesheet_link_tag    "app", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="page-wrapper">

    <div class="page-menu">
      <div class="row">
        <ul>
          <li>Pick yo' shit</li>
          <li>Find somebody to follow</li>
          <li>About funnle</li>
          <li>Log out</li>
        </ul>
      </div>
    </div>

    <div class="page-content">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    <div>

  </div>

</body>
</html>
